@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./variables.css");

@layer base {
  body {
    @apply pb-3;
    background-color: var(--main-bg-color);
  }

  section {
    @apply min-h-screen flex flex-col justify-center;
  }

  p {
    color: var(--text-color);
  }

  li {
    @apply list-none;
  }

  .col-vertical-center {
    @apply flex flex-col my-auto;
  }

  .col-vertical-bottom {
    @apply flex flex-col justify-end;
  }

  main {
    @apply w-full sm:w-10/12 xl:w-1/2 mx-auto;
  }
}

@layer components {
  /* section general */
  .section-heading {
    @apply text-6xl font-black text-center;
    opacity: 0;
    /* inner text shadow */
    background-color: var(--section-heading-text-color);
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 2;
    /* inner text shadow */
  }

  .section-heading.show {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }

  .sub-heading {
    @apply text-4xl font-semibold;
    /* inner text shadow */
    background-color: var(--section-heading-text-color);
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* inner text shadow */
  }

  .section-content {
    @apply mx-auto pt-10 space-y-12 w-full;
  }
  /* section general */

  .card {
    @apply shadow-md;
    background-color: var(--btn-color);
  }
}
