@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./variables.css");

@layer base {
  body {
    background-color: var(--main-bg-color);
  }

  section {
    @apply min-h-screen pt-32 w-10/12 mx-auto flex flex-col justify-center;
  }

  p {
    color: var(--text-color);
  }

  li {
    @apply list-none;
  }
}

@layer components {
  /* section general */
  .section-heading {
    @apply text-6xl font-black text-center;
    /* inner text shadow */
    background-color: var(--section-heading-text-color);
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* inner text shadow */
  }

  .sub-heading {
    @apply text-4xl font-semibold;
    color: var(--section-sub-heading-text-color);
  }

  .section-content {
    @apply mx-auto pt-10 lg:w-3/4 space-y-12;
  }
  /* section general */

  .card {
    @apply shadow-md;
    background-color: var(--btn-color);
  }
}
