@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./variables.css");

@layer base {
  body {
    background-color: var(--main-bg-color);
    padding-bottom: 100px;
  }

  section {
    @apply min-h-screen pt-32 w-10/12 lg:w-2/3 mx-auto flex flex-col justify-center;
  }

  p {
    color: var(--text-color);
  }

  li {
    @apply list-none;
  }

  .col-vertical-center {
    @apply flex flex-col my-auto;
  }

  .col-vertical-bottom {
    @apply flex flex-col justify-end;
  }
}

@layer components {
  /* section general */
  .section-heading {
    @apply text-6xl font-black text-center;
    opacity: 0;
    /* inner text shadow */
    background-color: var(--section-heading-text-color);
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* inner text shadow */
  }

  .section-heading.animated {
    opacity: 1;
    animation-name: opacity-med;
    animation-duration: 0.5s;
  }

  .sub-heading {
    @apply text-4xl font-semibold;
    /* inner text shadow */
    background-color: var(--section-heading-text-color);
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* inner text shadow */
  }

  .section-content {
    @apply mx-auto pt-10 w-9/12 lg:w-3/4 space-y-12;
  }
  /* section general */

  .card {
    @apply shadow-md;
    background-color: var(--btn-color);
  }
}
